.player {
  display: flex;
  align-items: center;
  background-color: rgba(194,24,91, 0.5);
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 32px;

  span {
    font-size: 24px;
    margin-left: 16px;
    color: white;
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.active-player {
  background-color: rgb(194,24,91);
}
