.player {
  display: flex;
  align-items: center;
  background-color: rgba(194, 24, 91, 0.5);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 8px;
  margin-right: 0;
  width: auto;
  overflow: hidden;


  span {
    font-size: 24px;
    margin: 8px;
    margin-left: 0;
    color: white;
    overflow: scroll;
  }

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid black;
    margin: 8px;
  }
}

.active-player {
  background-color: rgb(194, 24, 91);
}
